# =========================
# TensorFlow + QAT (SAFE)
# =========================
tensorflow==2.15.1
tensorflow-model-optimization==0.8.0
tensorflow-probability==0.23.0

# DO NOT install keras
# DO NOT install tf-keras

# =========================
# ML utilities
# =========================
numpy<2
scikit-learn>=1.3
pandas>=2.0
scipy>=1.11
pillow>=10.0

# =========================
# Hyperparameter tuning
# =========================
keras-tuner==1.4.8

# =========================
# Experiment tracking
# =========================
wandb>=0.16

# =========================
# Plotting / debugging
# =========================
matplotlib>=3.8
seaborn==0.13.2
plotly>=6.5.2
tqdm>=4.67.1

# =========================
# API
# =========================
requests>=2.32.5
pyinaturalist==0.20.2
